<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet"   href="main.css">

</head>
<body>
    <div class="menu-bar">
        <nav>
            <ul class="menu-ul">
                <a href="#">
                    <li> 
                        <div class="menu-img-back">
                            <img src="media/img_mini_placeholder/nut.PNG"> 
                        </div>
                        <div class="menu-button">
                            Artworks
                        </div>
                    </li>
                </a>
                <a href="#">    
                    <li>
                        <div class="menu-img-back">
                            <img src="media/img_mini_placeholder/random_scetch.PNG"> 
                        </div>
                        <div class="menu-button">
                            Blog
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div class="menu-img-back">
                            <img src="media/img_mini_placeholder/flowers.PNG"> 
                        </div>
                        <div class="menu-button">
                            About me
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div class="menu-img-back">
                            <img src="media/img_mini_placeholder/viele_Filya.PNG"> 
                        </div>
                        <div class="menu-button">
                            Contact
                        </div>
                    </li>
                </a>
            </ul>

        </nav>
    </div>

    <div class="content-wraper">
        <div class="content">
            <div class="post">

            </div>
        </div>
    </div>

</body>
</html>