<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="image_slideshow.css">
</head>
<body>
    <div class="container">
        <div id="image-slider">
            <div id="slider">
                <div id="mask">
                    <ul>
                        <li id="first" class="first-animation">
                            <a href="#"><img src="images/flowers.PNG" alt="one"></a>
                        </li>
                        
                        <li id="second" class="second-animation"><a href="#"><img src="images/nut.PNG" alt="two"></a></li>

                        <li id="third" class="third-animation"><a href="#"><img src="images/random_scetch.PNG" alt="tree"></a></li>

                        <li id="fourth" class="fourth-animation"><a href="#"><img src="images/viele_Filya.PNG" alt="four"></a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>