{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css"  href="{% static 'paints/css/main_menu.css' %}">

</head>
<body>
    <div class="menu-bar">
        <nav>
            <ul class="menu-ul">
                
                    <li> 
                        <a href="#">
                            <div class="menu-img-back">
                                <img src="{%static 'paints/images/nut.PNG'%}"> 
                            </div>
                            <div class="menu-button">
                                Artworks
                            </div>
                        </a>
                    </li>
                
                 
                    <li>
                        <a href="#">  
                            <div class="menu-img-back">
                                <img src="{%static 'paints/images/random_scetch.PNG'%}"> 
                            </div>
                            <div class="menu-button">
                                Blog
                            </div>
                        </a>
                    </li>
                 
                
                    <li>
                        <a href="#">
                            <div class="menu-img-back">
                                <img src="{%static 'paints/images/flowers.PNG'%}"> 
                            </div>
                            <div class="menu-button">
                                About me
                            </div>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="#">
                            <div class="menu-img-back">
                                <img src="{%static 'paints/images/viele_Filya.PNG'%}"> 
                            </div>
                            <div class="menu-button">
                                Contact
                            </div>
                        </a>
                    </li>
                
            </ul>

        </nav>
    </div>

    <div class="content-wraper">
        <div class="content">
            <div class="post">

            </div>
        </div>
    </div>

</body>
</html>