<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slideshow</title>
    <link rel="stylesheet" href="slideshow.css">
</head>
<body>
    <div class="untitled">
        <div class="untitled__slides">
            <!-- 1 -->
            <div class="intitled__slide">
                <div class="untitled__slideBg"></div>
                <div class="untitled__slideContent">
                    <span>James</span>
                    <span>London</span>
                    <a href="#" class="button">Butten</a>
                </div>
            </div>
            <!-- 2 -->
            <div class="intitled__slide">
                <div class="untitled__slideBg"></div>
                <div class="untitled__slideContent">
                    <span>Nicko</span>
                    <span>Jackson</span>
                    <a href="#" class="button">Butten</a>
                </div>
            </div>
            <!-- 3 -->
            <div class="intitled__slide">
                <div class="untitled__slideBg"></div>
                <div class="untitled__slideContent">
                    <span>Antonio</span>
                    <span>Buritti</span>
                    <a href="#" class="button">Butten</a>
                </div>
            </div>
            <!-- 4 -->
            <div class="intitled__slide">
                <div class="untitled__slideBg"></div>
                <div class="untitled__slideContent">
                    <span>Karlina</span>
                    <span>Korleone</span>
                    <a href="#" class="button">Butten</a>
                </div>
            </div>

        </div>
        <div class="untitled__shutters"></div>
    </div>
</body>
</html>