
/*
https://habr.com/ru/company/skillbox/blog/442658/
https://alvarotrigo.com/blog/how-to-create-a-parallax-effect-with-css-only/
https://webdevtips.pro/css/parallax-bg/
https://alvarotrigo.com/fullPage/extensions/parallax.html#3rdPage
*/

.site-header{
    /*background-image: url("images/Digital.png");*/
    background-position: bottom;
    background-size: cover;
    padding: 5rem;
    min-height: 70vh;
    position: relative;
    z-index: -1;
}
.back-img{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    
    transform: translateZ(-10px) scale(2.5);
    
}


.site-title{
    
    text-align: center;
    font-size: clamp(4rem, 10vw + 0.5rem, 9rem);
    font-weight: 900;
    text-transform: uppercase;
    position: fixed;
    color: tomato;
    
    
}

.container{
    background-color: rgba(255,255, 0, 1);
    
}

main {
    /*...Collapsed...*/
    overflow-y: auto;
    perspective: 2px; /* <-- This line */
  }